# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: ["main", "development"]
  pull_request:
    branches: ["development"]
    types: [closed, open]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v3

      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'corretto'

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2

      - name: Run Gradle Build
        run: gradle build

      - name: Run Unit Tests
        run: gradle test

      - name: Build and Push Docker Image
        if: github.event.pull_request.merged == true
        uses: mr-smithers-excellent/docker-build-push@v6
        with:
            image: gabrielpickler/schoolie
            registry: docker.io
            dockerfile: Dockerfile
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}

